<%= form_for(@item) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

            <ul>
                <% @item.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <%= f.label :name %><br/>
    <%= f.text_field :name %>


    <%= f.label :content %><br/>
    <%= f.text_area :content %>


    <%= f.label :date %><br/>
    <%= f.date_select :date %>


    <%= f.label :content_type %><br/>
    <%= f.text_field :content_type %>


    <%= f.label :longitude %><br/>
    <%= f.text_field :longitude %>


    <%= f.label :latitude %><br/>
    <%= f.text_field :latitude %>


    <%= f.label :altitude %><br/>
    <%= f.text_field :altitude %>


    <%= f.label :parent %>
    <%= f.collection_select :parent_id, @items, :id, :name %>

    <%= f.label :tags %>
    <%= select_tag('tags_id', options_from_collection_for_select(@tags, 'id', 'name'), {:multiple => true, :size => 6}) %>


    <%= f.submit class: "small button" %>
<% end %>
