<div class="row">
    <div class="row">
        <div class="twelve columns centered">
            <%= link_to 'Retour', items_path, class: "small button" %>
            <%= link_to 'Editer', edit_item_path(@item), class: "small button" %>

            <p id="notice"><%= notice %></p>

            <p>
                <b>Name:</b>
                <%= @item.name %>
            </p>

            <p>
                <b>Content:</b>
                <%= @item.content %>
            </p>

            <p>
                <b>Date:</b>
                <%= @item.date %>
            </p>

            <p>
                <b>Content type:</b>
                <%= @item.content_type %>
            </p>

        </div>
    </div>
</div>